* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #d3e9ef;
    color: #233a3a;
}

.video {
    margin: 1%;
}

span, div, h2 {
    background-color: #81b5a1;
}

#ic_field_service:hover {
    padding-left: 10px;
    color: crimson;
}

.container{ 
    font-size: 14px;
    background-color: #81b5a1;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}